<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Aula 2 - páginas, rotas e grid
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">

    <ion-button color="primary" routerLink="/grid1">
      <ion-icon slot="start" name="airplane-outline"></ion-icon>
      Grid 1
    </ion-button>

    <ion-button color="success" routerLink="/grid2">
      <ion-icon slot="end" name="bug-sharp"></ion-icon>
      Grid 2
    </ion-button>

    <ion-button color="tertiary" routerLink="/form">
      <ion-icon slot="start" name="clipboard-outline"></ion-icon>
      Form 1
    </ion-button>

    <ion-button color="primary" routerLink="/ngpage">
      <ion-icon slot="start" name="at-circle-outline"></ion-icon>
      Ng Page
    </ion-button>

    <ion-row>
      <ion-col>
        {{ pessoa.idade }}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="acrescentaIdade()">
          <ion-icon name="add"></ion-icon>
        </ion-button>
        <ion-button (click)="subtraiIdade()">
          <ion-icon name="remove"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button color="success" (click)="addAluno('Luiz','asdf', 25, 'Axé')" >
          <ion-icon name="musical-note"></ion-icon>
          Adicionar Aluno
          Quantidade de Alunos {{ listaAlunos.length }}
        </ion-button>
      </ion-col>
    </ion-row>

  </div>
</ion-content>

<ion-footer>
</ion-footer>
